<div>
<h1>Enter the phrase you would like in title case!</h1>
</div>
  <form class= "form" action='/title'>

    <!-- <div class="form-group"> -->
      <span class="input input--kyo">
      <input class="input__field input__field--kyo" id="input-1" name="input" type="text">
      <label class="input__label input__label--kyo" for="input" >
      <span class="input__label-content input__label-content--kyo" id="input-1-in" >Input string of words:</span>
      </label>
    </span>


    <!-- <div class="form-group"> -->
      <span class="input input--kyo">
      <input class="input__field input__field--kyo" id="search-1" name="search" type="text">
      <label class="input__label input__label--kyo" for="search">
      <span class="input__label-content input__label-content--kyo" id="search-1-in" >Search the word:</span>
      </label>
    </span>

    <button type="submit" class="btn-success">Send</button>
  </form>

<h2>Enter the phrase you would like in title case!</h2>

  <form class= "form" action='/title2'>

    <!-- <div class="form-group"> -->
      <span class="input input--kyo">
      <input class="input__field input__field--kyo" id="input-2" name="input2" type="text">
      <label class="input__label input__label--kyo" for="input">
      <span class="input__label-content input__label-content--kyo" id="input-2-in" >Input string of words:</span>
      </label>
    </span>

    <!-- <div class="form-group"> -->
      <span class="input input--kyo">
      <input class="input__field input__field--kyo" id="search-2" name="search2" type="text">
      <label class="input__label input__label--kyo" for="search">
      <span class="input__label-content input__label-content--kyo" id="search-2-in" >Search the word:</span>
      </label>
    </span>


    <button type="submit" class="btn-success">Send</button>
  </form>
