<h1>Enter the phrase you would like in title case!</h1>

  <form action='/title'>
    <div class="form-group">
      <label for="input">Input string of words:</label>
      <input id="input" name="input" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="search">Search the word:</label>
      <input id="search" name="search" class="form-control" type="text">
    </div>

    <button type="submit" class="btn-success">Send</button>
  </form>
